body {
    font-family: 'Verdana', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
.header {
background-color: black;
height: 40px;
padding-top: 8px;
}
.header-title {
    color: whitesmoke;
    display: inline;
    vertical-align: middle;
}
.header-menu{
    float: right;
}
.container {
    padding: 0 10%;
}
.header-button:first-child {
    margin-right: 15px;
}
.header-button {
    background-color: dimgray;
    color: honeydew;
    font-size: 16px;
    box-sizing: content-box;
    height: 22px;
    padding: 8px; 
    display: inline-block;
    
}
ol, li, ul {
    list-style: none;
}
.row{
    padding-top: 16px;
}